body {
    font-family: 'Encode Sans', sans-serif;
}

header,
.logo-container {
    border-bottom: 1px solid #f5f6f7;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1250px;
    height: 40px;
    font-weight: 700;
}

.navbar-mobile {
    display: none
}

/* Versão mobile do header */
@media (max-width: 1300px) {
    .navbar-desktop {
        display: none;
    }

    header {
        min-width: 350px;
    }

    .navbar-mobile {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        height: 40px;
        max-width: 650px;
        font-weight: 700;
    }
}

/* Cores dos links da navbar */
a.g1 {
    color: #C3170C;
}

a.globo {
    color: #1E4B9B;
}

a.valor {
    color: #006766;
}

a.ge {
    color: #07AA47;
}

a.cartola {
    color: #E3662B;
}

a.globoplay {
    color: #FB0735;
}

a.dropz {
    color: #FF75BB;
}

a.gshow {
    color: #EC7D00;
}

a.quem {
    color: #323333;
}

a.receitas {
    color: #A81D83;
}

a.tech {
    color: #666666;
}

a.videos {
    color: #0769DE;
}

main {
    display: flex;
    margin: 34px auto;
    width: 1250px;
}

h1 {
    margin-bottom: 29px;
    line-height: 67px;
    font-size: 52px;
    font-weight: bold;
    color: #C4160C;
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.left-headlines {
    padding-bottom: 25px;
}

.left-headlines p {
    font-weight: 500;
}

.left-news {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-top: 1px solid #ebedef;
}

.left-news .newscard {
    width: 193px;
    margin-top: 25px;
}

.left-news .news-cat {
    color: #C4170C;
}

.sport-section,
.gshow-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    padding-left: 36px;
    border-left: 1px solid #ebedef;
}

.sport-section .newscard,
.gshow-section .newscard {
    margin-bottom: 40px;
    width: 240px;
}

.sport-section .news-cat {
    color: #16AE54;
}

.gshow-section .news-cat {
    color: #EC8006;
}

/* Formatando as newscards */
a.newscard {
    display: block;
}

.img-container {
    display: flex;
    flex-direction: column;
}

.newscard img {
    border-radius: 12px;
    margin-bottom: 11px;
}

.newscard .news-cat {
    margin-bottom: 6px;
    font-size: 14px;
}

.newscard h2 {
    margin-bottom: 6px;
    font-size: 20px;
}

.newscard p {
    margin-right: 20px;
    font-size: 14px;
}

/* Versão mobile do conteúdo */
@media (max-width: 1300px) {
    main {
        flex-direction: column;
        align-items: center;
        width: 85vw;
    }

    h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .left-section,
    .sport-section,
    .gshow-section {
        flex-direction: column;
        max-width: 650px;
        min-width: 350px;
        width: 100%;
        margin: auto;
        padding: 0;
        border: none;
    }

    .left-news {
        flex-direction: column;
        padding-bottom: 0;
        border: none;
    }

    .sport-section .newscard,
    .gshow-section .newscard {
        margin-bottom: 0;
        padding: 20px 0;
    }

    .newscard {
        /* Por algum motivo, preciso usar
           !important para que este width
           seja considerado pelo browser */
        width: 100% !important;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebedef;
    }

    .newscard img {
        margin-right: 20px;
        width: 120px;
    }

    .news-cat {
        display: none;
    }

    .img-container {
        flex-direction: row;
    }

    /* Novas cores para o conteúdo */
    .left-section h2,
    .left-section p {
        color: #CD150B;
    }

    .sport-section h2,
    .sport-section p {
        color: #06AA48;
    }

    .gshow-section h2,
    .gshow-section p {
        color: #FF8203;
    }
}